#.env para el perfil prod

# Perfil de Spring Boot usado por el contenedor ec-pago-ms
SPRING_PROFILES_ACTIVE=prod

# Bootstrap server de Kafka usado por la aplicacion
EC_KAFKA_BOOTSTRAP_SERVERS=ec-kafka:9092

# Variables consumidas por el servicio MySQL: mysql-ec-pago-ms
EC_PAGO_MS_MYSQL_ROOT_PASSWORD=root
EC_PAGO_MS_MYSQL_DATABASE=db_ec_pago_ms

# Variables consumidas por la aplicacion: ec-pago-ms
EC_PAGO_MS_DB_HOST=mysql-ec-pago-ms
EC_PAGO_MS_DB_PORT=3306
EC_PAGO_MS_DB_NAME=db_ec_pago_ms
EC_PAGO_MS_DB_USERNAME=root
EC_PAGO_MS_DB_PASSWORD=root

# Nota: EC_PAGO_MS_MYSQL_DATABASE y EC_PAGO_MS_DB_NAME deben coincidir.
