#.env para el perfil prod

# Perfil de Spring Boot usado por el contenedor ec-orden-ms
SPRING_PROFILES_ACTIVE=prod

# Bootstrap server de Kafka usado por la aplicacion
EC_KAFKA_BOOTSTRAP_SERVERS=ec-kafka:9092

# Variables consumidas por el servicio MySQL: mysql-ec-orden-ms
EC_ORDEN_MS_MYSQL_ROOT_PASSWORD=root
EC_ORDEN_MS_MYSQL_DATABASE=db_ec_orden_ms

# Variables consumidas por la aplicacion: ec-orden-ms
EC_ORDEN_MS_DB_HOST=mysql-ec-orden-ms
EC_ORDEN_MS_DB_PORT=3306
EC_ORDEN_MS_DB_NAME=db_ec_orden_ms
EC_ORDEN_MS_DB_USERNAME=root
EC_ORDEN_MS_DB_PASSWORD=root

# Nota: EC_ORDEN_MS_MYSQL_DATABASE y EC_ORDEN_MS_DB_NAME deben coincidir.
